header {
    display: flex;
    align-items: center;
}
.hleft {
    display: inline-block;
    text-align: center;
    flex-grow: 1;
}
.hright {
    display: inline-block;
    text-align: center;
    flex-grow: 2;
}
.hlinks {
    display: flex;
    justify-content: space-evenly;
}

main {
    display: flex;
    align-items: center;
}
.text-main {
    display: inline-block;
    flex-grow: 2;
    text-align: start;
    margin-left: 2em;
}
.bio {

}
.img-main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.selfie {
    max-width: 100%;
    max-height: 100%;
    margin: 2em;
}